@import '~antd/dist/antd.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-button {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin:30px;
}
.wrap-table {
  display: flex;
  flex-direction: column;
  align-items:center;
}

/* Table */
.table-data {
  width:1100px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
th , td {
  padding-right: 10px;
}
.table-data th  {
  text-transform: uppercase;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  background-color: #6c7ae0;
}
.table-body td {
  padding: 8px;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}
.group-btn{
  display: flex;
  justify-content: space-around;
}


/* Form */
.wrap-form {
  display: flex;
  flex-direction: column;
  width: 800px;
}